%h1
  Refresh Subscriptions
  %div{:style => "border-bottom: dotted 1px rgb(100,100,100); padding: 10px;"}
    %strong
      = @ical.calendar.category.to_s.capitalize
      > 
      = @ical.calendar.name.to_s.capitalize
    %br
    = @ical.calendar.events.count
    events parsed and brought into database.
